
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.welcome{
    text-align: center;
    color: red
}

.chat-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
}

.chat-window {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    background-color: #fff;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #eee;
}

input {
    flex: 1;
    padding: 8px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}